html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Global style */
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .75em;
    display: inline;
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    margin:0;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
header{
    padding-bottom: 1.5rem;
}
h1, header {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h1{   
    font-size: 3em;
}
.content-wrap {
    max-width: 1040px;
    margin: 0 auto;
    padding: 13.33em 5em 6em 5em;
    overflow: auto;
}

/* link */
a{
    text-decoration: underline;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
    color: white;
}

/* table */
table{
    width: 100%;
    text-align: left;
}
th{
    font-size: 1.75rem;
}
td{
    font-size: 1.5rem;
}
.temp{
    font-size: 2.5rem;
}
.layouts{
    margin-left: 1.5rem;
}

/* media queries */
@media (min-width: 900px) {
    .col-narrow{
        width: 30%;
        float: left;
    }
    .col-wide{
        width: 70%;
        float: left;
        padding-left: 2em;
        }
}
    @media(max-width: 899px){
        header,h1,h3{
            text-align: center;
        }
        h1{
            font-size: 2.5rem;
        }
        h2{
            text-align: center;
            font-size: 1.5rem;
        }
        p {
            text-align: center;
        }
        header p{
            text-align: justify;
        }
        .content-wrap{
            text-align: center;
            padding: 2.5rem;
        }
    }